.product_conteiner{
    display: flex;
    flex-direction: column;
    max-width: 750px;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    border: rgb(73, 71, 71) solid 2px;
    padding: 20px;
  }

  .img{
    width: 300px;
    border:rgb(73, 71, 71) solid 2px;
  }